<div class="row">
  <div class="col-md-10">
  </div>
  <div class="col-md-2 text-right">
    <p> <%= link_to "My Profile", influencer_path(current_user.influencer), class:"btn btn-primary" %> </p>
  </div>
</div>

<div class="row">
  <div class="your-campaign-box text-center">
    <button class="btn btn-primary" type="button">
      Campaigns <span class="badge"><%= @campaigns.count %></span>
    </button>
  </div>
</div>


<div class="row">
  <div class="your-campaign-box text-center">
    <% @requests = @pending_requests %>
    <h2>Pending <span class="badge"><%= @requests.count %></span></h2>
  </div>
</div>

<% @requests.each do |i| %>
  <% @campaign = i.campaign %>
  <%= render partial: '/shared/influencer_index_show_campaign_v2', object: @campaign %>

<% end %>

<hr class="hrrrr">


<div class="row">
  <div class="your-campaign-box text-center">
    <% @requests = @ongoing_requests %>
    <h2>Ongoing <span class="badge"><%= @requests.count %></h2>
  </div>
</div>

<% @requests.each do |i| %>
  <% @campaign = i.campaign %>
  <%= render partial: '/shared/influencer_index_show_campaign_v2', object: @campaign %>

<% end %>
