<div class="row">
  <div class="col-md-10">
  </div>
  <div class="col-md-2 text-right">
    <p> <%= link_to "My Profile", influencer_path(current_user.influencer), class:"btn btn-primary" %> </p>
  </div>
</div>

  <div class="page-container">
    <div class="row">
      <div class="your-campaign-box">

        <button class="btn btn-primary" type="button">
          All Campaigns <span class="badge"><%= @campaigns.count %></span>
        </button>

      </div>
    </div>

  <% @campaigns.each_with_index do |c| %>
  <% c.image.each do |photo| %>
      <div class="influencer-your-campaign-container">
        <div class="col-md-6">
          <div class="campaign-thumb-container">
          <%= image_tag photo.url(:thumb) %>
        </div>
        </div>
          <div class="col-md-6">
            <div class="campaign_text_info-container">
              <div class="your-campaign-box">
            <p><strong>Product name : </strong> <%= c.product_name %></p>
            <hr class="hrrrr">
            <p><strong>Description : </strong> <%= c.description %></p>
            <hr class="hrrrr">
            <p><strong>Product Category : </strong><%= c.product_category %></p>
            <hr class="hrrrr">
            <p> <%= link_to 'See Details', influencer_campaign_path(influencer_id: current_user.influencer.id, id: c.id), class:"see-detail-btn-2 btn btn-primary" %> </p>
          </div>
          </div>
        </div>
      </div>
  <%end%>
  <%end%>

  <div class="row">
    <div class="your-campaign-box">
    <% @requests = @pending_requests %>
    <h2>Pending Campaigns <span class="badge"><%= @requests.count %></span></h2>
  </div>
</div>

        <%= render partial: '/shared/influencer_index_show_campaign', object: @requests %>


  <div class="row">
    <div class="your-campaign-box">
    <% @requests = @ongoing_requests %>
    <h2>Ongoing Campaigns <span class="badge"><%= @requests.count %></h2>
  </div>
</div>


        <%= render partial: '/shared/influencer_index_show_campaign', object: @requests %>

</div> <!-- end of page container -->
