<h2>Influencer Profile</h2>
<p><%= @user.id %></p>
<p><%= @user.email %></p>
<p><%= @user.type %></p>
<p>
  <% if @user.identities.present? %>
    <% @user.identities.each do |i| %>
      <p><%= i.provider %></p>
      <p><%= i.nickname %></p>
    <% end %>
  <% end %>
</p>
