<h2>Influencer Profile</h2>

<p><%= @influencer.user.id %></p>
<p><%= @influencer.user.email %></p>
<p><%= @influencer.user.type %></p>
<p>
  <% if @influencer.user.identities.present? %>
    <% @influencer.user.identities.each do |i| %>
      <p><%= i.provider %></p>
      <p><%= i.nickname %></p>
    <% end %>
  <% end %>
</p>


<p>
  <strong>Audience Age: </strong>
  <pre>
    <%= @influencer.age %>
  </pre>
</p>

<p>
  Profile Picture
  <img src='<%= @client.user.profile_picture %>'>
</p>

<p>
<h3>#<%= @tag %></h3>
<% if @found_post.present? %>
  <p> <%= image_tag @found_post.images.low_resolution.url %> </p>
  <p> <%= @found_post.tags %></p>
  <p> Likes: <%= @found_post.likes.fetch(:count) %></p>
<% end %>
</p>
<% a = false %>
<% if a %>
  <% for media_item in @client.user_recent_media %>
      <div style='float:left;'>
        <img src='<%= media_item.images.low_resolution.url %>'>
        <br/>
        <%= media_item.tags %>
        <a href='/media_like/<%= media_item.id %>'>Like</a>
        <a href='/media_unlike/<%= media_item.id %>'>Un-Like</a>
        <br/>
        Likes: <%= media_item.likes[:count] %>
      </div>
  <% end %>
<% end %>
