<div class="container-fluid">
    <div id="wrapper">
        
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="user-img-div">

                            <div class="inner-text">
                              <p>Debugging- Userid: <%= @influencer.user.id %>, Influencerid: <%= @influencer.id %></p>
                              <% identity = @influencer.get_insta %>

                              <p>  <img src='<%= @client.user.profile_picture %>' class="img-thumbnail"> </p>
                              <p>Username:<strong> <%= identity.nickname %> </strong></p>
                              <p>Name: <%= @client.user.full_name %> </p>

                            </div>
                        </div>
                        <% if current_user.influencer.present? %>
                         <% if current_user.influencer.id == @influencer.id %>
                            <%= link_to edit_influencer_path(current_user.influencer) do %>
                            <li class="side_bar"><i class="fa fa-address-card-o"></i> Edit Profile</li>
                             <% end %>
                          <% end %>
                        <% end %>
                    </li>        
                </ul>
            </div>
       </nav>
        

        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">My Profile</h1>
                        <h1 class="page-subhead-line">Welcome to my page, hope that you find it useful. </h1>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                        <div class="main-box mb-red">
                            <a href="#">
                                <h3> Posts </h3>
                                <h1 class="font_size"><%= @user_info.counts[:media] %></h1>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="main-box mb-dull">
                            <a href="#">
                                <h3> Followers </h3>
                                <h1 class="font_size"><%= @user_info.counts[:followed_by] %></h1>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="main-box mb-pink">
                            <a href="#">
                                <h3>Follows </h3>
                                <h1 class="font_size"><%= @user_info.counts[:follows] %></h1>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-8">

                        <div class="list-group">
                       
                             <h4 class="list-heading">Bio:</h4>
                                <p style="line-height: 30px;">
                                    <pre>
                                      <%= @user_info.bio %>
                                    </pre>
                                </p>

                                <p>
                                  <strong class="list-headings">My Product Category: </strong>
                                  <div class="box">
                                    <%= @influencer.product_category %>
                                  </div>
                                </p>

                                <p>
                                  <strong class="list-headings">My Location: </strong>
                                  <div class="box">
                                    <%= @influencer.location %>
                                  </div>
                                </p>


                                <p>
                                  <strong class="list-headings">Audience Age: </strong>
                                  <div class="box">
                                    <%= @influencer.age %>
                                  </div>
                                </p>

                                <p>
                                  <strong class="list-headings">Audience Gender: </strong>
                                  <div class="box">
                                    <%= @influencer.gender %>
                                  </div>
                                </p>

                                <p>
                                  <strong class="list-headings">My Interests: </strong>
                                  <div class="box">
                                    <%= @influencer.interests %>
                                  </div>
                                </p>
                            </a>
                       </div>
                        <br />
                    </div>

                    <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <i class="fa fa-bell fa-fw"></i>Notifications Panel
                            </div>

                            <div class="panel-body">
                                <div class="list-group">


                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-twitter fa-fw"></i>3 New Followers
                                    <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                    </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-envelope fa-fw"></i>Message Sent
                                    <span class="pull-right text-muted small"><em>27 minutes ago</em>
                                    </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-tasks fa-fw"></i>New Task
                                    <span class="pull-right text-muted small"><em>43 minutes ago</em>
                                    </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-upload fa-fw"></i>Server Rebooted
                                    <span class="pull-right text-muted small"><em>11:32 AM</em>
                                    </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-bolt fa-fw"></i>Server Crashed!
                                    <span class="pull-right text-muted small"><em>11:13 AM</em>
                                    </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-warning fa-fw"></i>Server Not Responding
                                    <span class="pull-right text-muted small"><em>10:57 AM</em>
                                    </span>
                                    </a>

                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-bolt fa-fw"></i>Server Crashed!
                                    <span class="pull-right text-muted small"><em>11:13 AM</em>
                                    </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-warning fa-fw"></i>Server Not Responding
                                    <span class="pull-right text-muted small"><em>10:57 AM</em>
                                    </span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-shopping-cart fa-fw"></i>New Order Placed
                                    <span class="pull-right text-muted small"><em>9:49 AM</em>
                                    </span>
                                    </a>
                                </div>
                                <!-- /.list-group -->
                                <a href="#" class="btn btn-info btn-block">View All Alerts</a>
                            </div>

                        </div>
                    </div>
                </div>
                <hr />
                <div class="container-fluid">
                <div class="row no-gutter">
                <div class="col-md-6">

                  <% a = true %>
                  <% if a %>
                    <% for media_item in @client.user_recent_media.first(6) %>
                        <div style='float:left;'>
                          <img src='<%= media_item.images.low_resolution.url %>'>
                          <br/>
                          <p>
                            <% media_item.tags.each do |t| %>
                              <strong>#<%= t %></strong>
                            <% end %>

                          </p>
                          <p>Likes: <%= media_item.likes[:count] %> </p>
                        </div>
                    <% end %>
                  <% end %>
                </div>
                </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>


