  <h2>Influencer Profile</h2>

  <p>
    <% if current_user.influencer.present? %>
    <%= link_to "Edit Profile", edit_influencer_path(current_user.influencer) if current_user.influencer.id == @influencer.id%>
    <% end %>
  </p>

  <p>Debugging- Userid: <%= @influencer.user.id %>, Influencerid: <%= @influencer.id %></p>
  <% identity = @influencer.get_insta %>

  <p>  <img src='<%= @client.user.profile_picture %>'> </p>
  <p>Username:<strong> <%= identity.nickname %> </strong></p>
  <p>Name: <%= @client.user.full_name %> </p>
  <p> Number of media: <%= @user_info.counts[:media] %> </p>

  <p> Followers: <%= @user_info.counts[:followed_by] %> people </p>
  <p> Follows:   <%= @user_info.counts[:follows] %> people </p>

  <p>
    <strong>Bio: </strong>
    <pre>
      <%= @user_info.bio %>
    </pre>
  </p>


  <p>
    <strong>My Location: </strong>
    <pre>
      <%= @influencer.location %>
    </pre>
  </p>


  <p>
    <strong>Audience Age: </strong>
    <pre>
      <%= @influencer.age %>
    </pre>
  </p>

  <p>
    <strong>Audience Gender: </strong>
    <pre>
      <%= @influencer.gender %>
    </pre>
  </p>

  <p>
    <strong>My Interests: </strong>
    <pre>
      <%= @influencer.interests %>
    </pre>
  </p>


  <% a = true %>
  <% if a %>
    <% for media_item in @client.user_recent_media %>
        <div style='float:left;'>
          <img src='<%= media_item.images.low_resolution.url %>'>
          <br/>
          <p>
            <% media_item.tags.each do |t| %>
              <strong>#<%= t %></strong>
            <% end %>

          </p>
          <p>Likes: <%= media_item.likes[:count] %> </p>
        </div>
    <% end %>
  <% end %>
