<h3>Hello this is The Edit for Reward Page </h3>



<%= form_for [@campaign,@reward] do |u| %>

<div class="form-control">
	<%= u.label :target %>
	<%= u.text_field :target %>
</div>


<div class="form-control">
	<%= u.label :prize %>
	<%= u.text_field :prize %>
 </div>

<div class="form-control">
	<%= u.label :post_date %>
	<%= u.text_field :post_date %>
</div>

<div class="form-control">
	<%= u.label :deadline %>
	<%= u.text_field :deadline %>
</div>

<div class="form-control">
	<%= u.label :description %>
	<%= u.text_field :description %>
</div>
<div >
<%= u.submit %>
</div>

	<% end %>
 
