
<% @requests.each do |i| %>
  <% @campaign = i.campaign %>
  <p><%= @campaign.id %></p>
  <p>Image: </p>
  <div class="campaign">
    <% @campaign.image.each do |photo| %>
       <%= image_tag photo.url(:thumb) %>
    <% end %>
  </div>

  <p>Product name <%=  @campaign.product_name %></p>
  <p>Description <%=  @campaign.description %></p>
  <p>Product Category <%=  @campaign.product_category %></p>
  <p>Location <%=  @campaign.location %></p>
  <p>Target Age <%=  @campaign.age %></p>
  <p>Target Gender <%=  @campaign.gender %></p>
  <p>Interests <%=  @campaign.interests %></p>
  <p>Hash Tag <%=  @campaign.tag %></p>

<% end %>
