
<% @requests.each do |i| %>
  <p>influencer_id: <%= i.influencer_id %></p>


  <% if i.influencer.user.identities.present? %>

    <% insta = i.influencer.user.identities.first %>
    <p><%= insta.name %></p>
    <p><%= insta.nickname %></p>
    <p><%= image_tag insta.image %></p>

    <!-- show the influencer post that matches the campaign hashtag -->

    <% if i.ongoing? %>
    <p> <%= link_to 'See Progress', see_influencers_posts_path(influencer_id: i.influencer_id), :class => "btn btn-success" %>
    </p>
    <% end %>


  <% else %>
    <p> This user doesn't have an instagram account </p>

  <% end %>


<% end %>
