
<div class="form-group">
  <%= form.label :product_name, 'Product Name', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.text_field :product_name , class: 'form-control'%>
  </div>
</div>

<div class="form-group">
  <%= form.label :product_category, 'Product Category', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.select :product_category, Campaign.product_categories.map{ |a| [a.first,a.first] } , class: 'form-control'%>
  </div>
</div>


<div class="form-group">
  <%= form.label :description, 'Description', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.text_field :description , class: 'form-control'%>
  </div>
</div>

<div class="form-group">
  <%= form.label :company_name, 'Company Name', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.text_field :company_name , class: 'form-control'%>
  </div>
</div>

<div class="form-group">
  <%= form.label :email, 'Email', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.text_field :email , class: 'form-control'%>
  </div>
</div>

<div class="form-group">
  <%= form.label :phone_number, 'Phone Number', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.text_field :phone_number , class: 'form-control'%>
  </div>
</div>

<div class="form-group">
  <%= form.label :address, 'Address', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.text_field :address , class: 'form-control'%>
  </div>
</div>

<div class="form-group">
  <%= form.label :link, 'Website Link', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.text_field :link , class: 'form-control'%>
  </div>
</div>

<div class="form-group">
  <%= form.label :link, 'Website Link', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.text_field :link , class: 'form-control'%>
  </div>
</div>

<div class="form-group">
<%= form.label :image, 'Campaign Photos', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.file_field :image, multiple: true %>
  </div>
</div>

<div class="form-group">
  <%= form.label :tag, 'Hash Tag', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.text_field :tag , class: 'form-control'%>
  </div>
</div>


<div class="form-group">
  <%= form.label :location, 'Target Location', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.select :location, Campaign.locations.map{ |a| [a.first,a.first] } , class: 'form-control'%>
  </div>
</div>



<div class="form-group">
  <%= form.label :age, 'Target Age', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.select :age, Campaign.ages.map{ |a| [a.first,a.first] } , class: 'form-control'%>
  </div>
</div>

<div class="form-group">
  <%= form.label :gender, 'Target Gender', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.select :gender, Campaign.genders.map{ |a| [a.first,a.first] }, class: 'form-control'%>
  </div>
</div>

<div class="form-group">
  <%= form.label :interests, 'Target Interests', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.text_field :interests , class: 'form-control'%>
  </div>
</div>
