
<p><%= link_to "Back", brand_campaign_path(brand_id: current_user.brand.id, id: @campaign.id) %></p>

<div class="col-md-8 col-md-offset-2" id="edit_page">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Edit Your Campaign</h1>
      </div>
      <div class="panel-body">
        <div class="current_image">
          <strong class="center">Current Image</strong>
            <% @campaign.image.each do |photo| %>
              <%= image_tag photo.url(:thumb) %>
            <% end %>
        </div>

        <%= form_for [current_user.brand, @campaign], html: {class: 'form-horizontal'} do |form| %>

        <%= render partial: '/campaigns/form', object: form %>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= form.submit 'Save Changes', class: "btn btn-primary" %>
          </div>
        </div>

        <% end %>

  </div>
</div>
</div>
</div>
