<h3> Hey this is the INDEX of Campaigns </h3>
<% if current_user %>
   <%= link_to "Create a Campaign", new_brand_campaign_path(current_user.brand) %>
    <br></br>
   <% @campaign.each do |u| %>


   <tr>
   <td>Product Category: <%= u.product_category %></br><%= link_to 'Edit', edit_brand_campaign_path(brand_id: current_user.brand.id, id: u.id) %></td>
   <td>Description     : <%= u.description%></br></td>
   <td>Product Name    : <%= u.product_name%></br></td>
   <td>Phone           : <%= u.phone_number%></br></td>
   <td>Address 		     : <%= u.address%></br></td>
   <td>Email           : <%= u.email%></br></td>
   <p>================<p>
   <div class="campaign">
            <% u.image.each do |photo| %>
               <%= image_tag photo.url(:thumb) %>
            <% end %>
               <div class="actions">
            <%= link_to "remove",{ action: :destroy, id: t.image }, method: :delete, data: { confirm: 'Are you sure?' } %>
               </div>
      </div>


<% end %>


 	<% end %>
