
  <h2>Campaign Progress</h2>

  <%= render partial: '/shared/campaign_details', object: @campaign %>


  <p>
  <h3>#<%= @tag %></h3>
  <% if @found_post.present? %>
    <p> <%= image_tag @found_post.images.low_resolution.url %> </p>
    <p> <%= @found_post.tags %></p>
    <p> Likes: <%= @found_post.likes.fetch(:count) %> </p>
    <p> Post date: <%= Time.at(@found_post.created_time.to_i).to_date %></p>

    <% percent = @found_post.likes.fetch(:count)/100 %>
    <div class="set-size charts-container">

      <div class="pie-wrapper pie-wrapper--solid progress-#{percent}">
        <span class="label"><%= percent %><span class="smaller">%</span></span>
      </div>

      <div class="pie-wrapper progress-30">
        <span class="label">30<span class="smaller">%</span></span>
        <div class="pie">
          <div class="left-side half-circle"></div>
          <div class="right-side half-circle"></div>
        </div>
      </div>

    </div>

    <% if @found_post.likes.fetch(:count) >= 50  %>
      <!-- show "get rewards" button -->
      <!-- if influencer have already got the reward -->
          <p>
            You have claimed this reward.
          </p>
      <!-- else -->

      <%= link_to "Get Rewards", root_path, class: "btn btn-default" %>

      <!-- end -->
    <% else %>
      <%= link_to "Get Rewards", root_path, class: "btn btn-default", disabled: "disabled" %>
    <% end %>
  <% end %>
  </p>
