<h2>brand#show</h2>

  <p><%= @campaign.id %></p>
  <p>Image: </p>
  <div class="campaign">
    <% @campaign.image.each do |photo| %>
       <%= image_tag photo.url(:thumb) %>
    <% end %>
  </div>

  <p>Product name: <%=  @campaign.product_name %></p>
  <p>Description: <%=  @campaign.description %></p>
  <p>Product Category<%=  @campaign.product_category %></p>
  <p> <%= link_to 'Edit', edit_brand_campaign_path(brand_id: current_user.brand.id, id: @campaign.id) %> </p>
  <p>-------</p>


<h2>Influencers</h2>

<% @influencers.each do |i| %>
  <% if i.user.identities.present? %>
    <% insta = i.user.identities.first %>
      <p><%= image_tag insta.image %></p>

      <p><%= insta.name %></p>
      <p><%= insta.nickname %></p>
  <% end %>


  <p><%= i.user.id %></p>
  <p><%= link_to i.user.email, influencer_path(i) %></p>
  <p><%= i.user.role %></p>


  <p> ---------------</p>

<% end %>
