
<h2 class="text-center">Campaign Details</h2>
<%= render partial: '/shared/campaign_details_again', object: @campaign %>

<% if current_user.brand.present? %>
  <div class="row" id="pin_show">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">

        <div class="panel-footer">
          <div class="row">

            <div class="col-md-12 text-center">
              <div class="btn-group">
                <%= link_to "Search Influencers", new_search_path, class: "btn btn-primary" %>
                <%= link_to 'See Influencers', see_influencers_path(@campaign.id), class: "btn btn-success"%>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
<% end %>

<%= render partial: '/shared/rewards_details', object: @campaign %>

<% if current_user.brand.present? %>
  <h2 class="text-center">Relevant Influencers <span class="badge"><%= @influencers.count %></span></h2>
  <%= render partial: '/shared/relevant_influencers', object: @influencers %>
<% end %>


<% if current_user.influencer.present? %>
  <% request = @campaign.requests.find_by(influencer_id: current_user.influencer.id) %>

  <%= render "/requests/update_status" if request.status == 'pending' %>

  <p> Status: <%= @campaign.requests.find_by(influencer_id: current_user.influencer.id).status %> </p>
<% end %>
