  <div class="row">
    <div class="profile-button-container">
      <div class="col-md-6">
      </div>
      <div class="col-md-6 text-right">
        <%= link_to "My Profile", brand_path(current_user.brand), class:"btn btn-primary" %>

        <%= link_to "Create a Campaign", new_brand_campaign_path(current_user.brand), class:"btn btn-primary" %>

      </div>

    </div>
  </div>


  <div class="page-container">
    <div class="row">
      <div class="your-campaign-box">
        <button class="btn btn-primary" type="button">
          Your Campaigns <span class="badge"><%= @campaigns.count %></span>
        </button>
      </div>
    </div>
  </div>

  <% @campaigns.each_with_index do |c, ci| %>
  <% @campaign = c %>
  <div class="page-container">
        <div class="row">
          <div class="your-campaign-box">
          <h4><strong>Campaign #<%= ci+1 %></strong></h4>
        </div>
          <div class="col-md-12">
            <div class="head-overall-container">
                  <%= render partial: '/shared/brand_index_show_campaigns', object: @campaign %>
                </div>
          </div>
        </div>

        <hr class="hrrrr">

        <div class="row">
          <div class="your-campaign-box">
            <% @requests = c.requests.pending %>
            <h4>Pending <span class="badge"><%= @requests.count %></span></h4>
          </div>

            <% @requests = c.requests.pending %>
            <%= render partial: '/shared/brand_index_show_influencers', object: @requests %>

        </div>

        <hr class="hrrrr">

        <div class="row">
          <div class="your-campaign-box">
            <% @requests = c.requests.ongoing %>
            <h4>Ongoing <span class="badge"><%= @requests.count %></span></h4>
          </div>

              <% @requests = c.requests.ongoing %>
              <%= render partial: '/shared/brand_index_show_influencers', object: @requests %>

      </div>
      <hr class="hrrrr">
      <%end%>
    </div>
