<!DOCTYPE html>
<html>
<head>
  <title>Robito</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <div class="container">
  <% if signed_in? %>
    <%= link_to "Home", root_path %>  <%= link_to "Signout", destroy_user_session_path, method: :delete %>
  <% end %>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>
 </div>

  <div class="container">
     <%= yield %>
  </div>

</body>
</html>
